---
import Head from "@components/_head.astro"
import Footer from "@components/dashboard/_footer.astro"
import Topbar from "@components/dashboard/_topbar.astro"
import Sidenav from "@components/dashboard/_sidenav.astro"
import Scripts from "@components/_scripts.astro"

const title = "AdminLTE 4 | General Form Elements"
const path = "../../../dist"
const mainPage = "forms"
const page = "general";
---

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <Head title={title} path={path} />
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
    <Topbar path={path} />
    <Sidenav path={path} mainPage={mainPage} page={page} />
    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row g-4">
                    <!--begin::Col-->
                    <div class="col-md-12">
                        <!--begin::Quick Example-->
                        <div class="card card-primary card-outline mb-4">
                            <!--begin::Header-->
                            <div class="card-header">
                                <div class="card-title">代码编辑</div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Form-->
                            <form>
                                <div class="card-body">
                                    <!--begin::Body-->
                                    <div class="row mb-3">
                                        <label for="ticker" class="col-sm-2 col-form-label">代码</label>
                                        <div class="col-sm-10">
                                            <input
                                                    type="ticker"
                                                    class="form-control"
                                                    id="ticker"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="name" class="col-sm-2 col-form-label">名称</label>
                                        <div class="col-sm-10">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="name"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="sector" class="col-sm-2 col-form-label">分类</label>
                                        <div class="col-sm-10">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="sector"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="industry" class="col-sm-2 col-form-label">行业</label>
                                        <div class="col-sm-10">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="industry"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-10 offset-sm-2">
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            id="status"
                                                    />
                                                    <label class="form-check-label" for="status">
                                                        关注
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                    <!--begin::Footer-->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary"
                                        >Submit</button
                                        >
                                    </div>
                                    <!--end::Footer-->
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!--end::App Main-->
    <Footer />
</div>
<!--end::App Wrapper-->
<!--begin::Script-->
<Scripts path={path} />
<script type="module" src="/dist/js/symbolEdit.js"></script>
<!--end::Script-->
</body><!--end::Body-->
</html>
